<?xml version="1.0">
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="faulhaber_ros2_control" params="name serial_port gear_ratio">
        <ros2_control name="${name}" type="actuator">
            <hardware>
                <plugin>faulhaber/Faulhaber</plugin>
                <param name="serial_port">${serial_port}</param>
                <param name="gear_ratio">${gear_ratio}</param>
            </hardware>
            <joint name="${name}">
                <command_interface name="velocity"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="current"/>
            </joint>
        </ros2_control>
    </xacro:macro>
</robot>
